---
- name: Verify VS Code installation
  ansible.builtin.command: code --version
  register: vscode_version
  changed_when: false
  failed_when: vscode_version.rc != 0

- name: Install VS Code extensions
  ansible.builtin.command: code --install-extension {{ item }}
  loop:
    - adpyke.codesnap
    - biomejs.biome
    - eamodio.gitlens
    - editorconfig.editorconfig
    - esbenp.prettier-vscode
    - github.copilot-chat
    - github.github-vscode-theme
    - github.vscode-github-actions
    - github.vscode-pull-request-github
    - ibm.output-colorizer
    - irongeek.vscode-env
    - miguelsolorio.fluent-icons
    - nicoespeon.abracadabra
    - pkief.material-icon-theme
    - redhat.vscode-yaml
    - tyriar.sort-lines
  register: vscode_extension_install
  changed_when: "'already installed' not in vscode_extension_install.stdout"
  failed_when: >
    vscode_extension_install.rc != 0 and
    'already installed' not in vscode_extension_install.stdout
